/*=========================================
    Primary Color
=========================================*/

.preloader {
    background: #33ce67;
}

/* 00. Theme Reset Css */
.section-header h2 {
    color: #33ce67;
}

.section-header h2:after {
    background: #33ce67;    
}

.boxed-btn {
    background: #33ce67;    
}

.boxed-btn:hover {
    color: #33ce67;    
}

/* 02. Header Top */
#header-top {
    background: #33ce67;    
}

/* 03. Custom Navigation */
.main-menu ul li.active a,
.main-menu ul li a:hover {
    color: #33ce67 !important;
}

.main-menu ul li ul li:hover:before {
    color: #33ce67;
}

.main-menu ul li.active ul li a:hover { 
    color: #33ce67 !important;
}

.main-menu ul li a:after,
.main-menu ul li a:before {
    border-color: #33ce67 !important;
}


.mean-container a.meanmenu-reveal {
    border-color: #33ce67;
    color: #33ce67;
}

.mean-container a.meanmenu-reveal span {
    background-color: #33ce67;
}

.mean-container .mean-nav {
    background: #33ce67;    
}

.search-button a {
    color: #33ce67;
}

a.book-now {
    border-color; #33ce67;
    color: #33ce67;    
}

a.book-now:hover {
    background: #33ce67;
}

.search-button a.nav-link {
    color: #33ce67;
}

#search {
    background: #33ce67;    
}

.badge {
    background: #33ce67;    
}

.cart-icon i {
    color: #33ce67;
}

ul.cart-list>li>p>a {
    color: #33ce67;
}

ul.cart-list>li.total>.btn-cart {
    border-color: #33ce67;
    background: #33ce67;
}

ul.cart-list>li.total>.btn-cart:hover {
    color: #33ce67;
}

/* Header slider */
.header-slider .owl-next,
.header-slider .owl-prev {
    color: #33ce67;    
}

/* 05. Features */

.features-list-item .icon i {
    color: #33ce67;
}

.view-more {
    color: #33ce67;
}

/* 06. Portfolio */
.sorting-btn {
    border-bottom-color: #33ce67 !important;
}

.sorting-btn li a.active {
    color: #33ce67;
}

.portfolio-masonary figure:hover figcaption  {
    background: #33ce67;
}

/* 07. Features */
.features-item:before {    
    background: #33ce67;
}

.features-item:hover i {
    color: #33ce67;
}

/* 08. Services */
.service-icon i {
    color: #33ce67;
}

.services-item .service-icon:after {
    background: #33ce67;    
}

.services-item:hover h4 {
    color: #33ce67;
}

/* 10. Fun Fact*/
#fun-fact i {
    color: #33ce67;
}

.member-social li a {
    color: #33ce67;
}

.member-title:after {
    background: #33ce67;    
}

.member-title:before {
    border-bottom-color: #33ce67 !important;
}

.team-member:hover .member-title h4 {
    color: #33ce67;
}

.inner-bio  {
    background-color: #33ce67;
}

/* Testimonial */
#testimonial .owl-dot.active {
    background: #33ce67 !important;
}

.single-testimonial h4 {
    color: #33ce67;
}

.single-testimonial h4:after {
    background: #33ce67;    
}


/* Pricing */
#pricing .features li i {
    color: #33ce67;
}

/* Recent Blog */
#recent-blog .post-thumbnail:after {
    background: #33ce67;    
}

#recent-blog .blog-post:hover .read-more-link,
.blog-post:hover .post-content .post-title a {
    color: #33ce67;
}

/* Contact Us*/
.contact-us-info h3:after {
    background: #33ce67;    
}

.live-chat.boxed-btn:hover {
    background: #33ce67;
    border-color: #33ce67;
}

.get-in-touch h3 {
    color: #33ce67;
}

.get-in-touch input,
.get-in-touch textarea {
    border-color: #33ce67;
}

.get-in-touch .form-control:focus {
    border-bottom-color: #33ce67 !important;
}

#footer-copyright {
    background: #33ce67;
}

.scrollup {
    background-color: #33ce67;
    border-color: #33ce67;

}

.scrollup:hover {
    color: #33ce67;
    border-color: #33ce67;
}

/*------------------------
    About US page 
 -------------------------*/
.breadcrumb-nav li a {
    color: #33ce67;
}

#about-us .section-header:before {
    background: #33ce67;
}

.progress-bar {
    background: #33ce67;
}

a.view-details:hover {
    color: #33ce67;
}


/*------------------------
    Service page 
-------------------------*/
.servicepage-item .service-icon i {
    color: #33ce67;
}

.servicepage-item a {
    color: #33ce67;
}

/*------------------------
    Portfolio
-------------------------*/

.portfolio-item:hover .content h4,
.portfolio-item:hover .content a {
    color: #33ce67;
}

.portfolio-item:hover figcaption {
    background: #33ce67;
}

.pagination li.page-item.more-page a.page-link,
.pagination li.page-item.active a.page-link,
.pagination a.page-link:hover {
    background: #33ce67;
}

.single-exclusive:hover h5,
.single-exclusive:hover i {
    color: #33ce67;
}

#exclusive .owl-dot.active {
    background: #33ce67;
}

/* Gallery */
.gallery-popup:hover {
    color: #33ce67;
}

.load-btn {    
    background: #33ce67;
}

/*------------------------
    Blog
-------------------------*/
.blog-post:hover h4.post-title a {
    color: #33ce67 !important;
}

.post-content .continue-reading:hover {
    color: #33ce67 !important;
}

#blog-content ul.meta-info li:hover i,
#blog-content ul.meta-info li a:hover {
    color: #33ce67;
}

.blog-post .post-thumb {
    background: #33ce67;    
}

.post-new-comment input,
.post-new-comment textarea {
    border-color: #33ce67;
}

.single-blog-area ul.share-icon li a:hover {
    color: #33ce67;
}

/*------------------------
    Contact US
-------------------------*/
.office .icon {
    color: #33ce67;
}

ul.contact-social li a {
    color: #33ce67;
}

/* Widget Color */

.widget_about a:hover {
    color: #33ce67;
}

.widget_pages ul li a:hover {
    color: #33ce67;
}

.widget-search input[type=button] {
    background: #33ce67;
}

.widget-categories ul li a:hover {
    color: #33ce67;
}

.recent-post h6:hover {
    color: #33ce67;
}

ul.recent-meta-info li a:hover {
    color: #33ce67;
}

.days li .active {
    color: #33ce67;
    border-color: #33ce67;
}

.widget-newsletter .subscribe {
    color: #33ce67;
    border-color: #33ce67;
}

.widget-newsletter .subscribe:hover {
    background: #33ce67;
}


ul.widget-social li a:hover {
    color: #33ce67;
}

ul.tags li a:hover {    
    background: #33ce67;
}


/*=========================================
    Secondary Color
=========================================*/
/* Theme Reset css */
p {
    color: #233049;
}

.section-header p {
    color: #233049;
}

/* Main Menu*/
.mean-container .mean-nav ul li a.mean-expand:hover {
    background: #233049;
}

ul.cart-list>li.total {
    background-color: #233049;
}

/* Sections */
.call-out:after,
#fun-fact:after,
#subscribe:after,
#pricing .features:after,
.video-section:after,
.skill-item:after  {
    background: #233049;    
}


/* Features list*/
.features-list-item h4 {
    color: #233049;
}

.view-more:hover {
    color: #233049;
}

.sorting-btn li a {
    color: #233049;
}

.services-item {    
    color: #233049;
}

.member-title {
    color: #233049;
}

#testimonial .owl-dot {
    background: #233049;    
}

.single-testimonial {
    background: #233049; 
}

#pricing .prcing-head {
    background: #233049;
}

#pricing .price {
    color: #233049;    
}

#recent-blog .read-more-link {
    color: #233049;    
}

.contact-us-info {
    background: #233049;    
}

/* Service Page */
.servicepage-item h4 {
    color: #233049;
}

.servicepage-item p {
    color: #233049;
}

.servicepage-item a:hover {
    color: #233049;
}

/* Portfolio */
.portfolio-page .content h4 {
    color: #233049;
}

.portfolio-page .content a {
    color: #233049;
}

.pagination a.page-link {
    background: #233049;
}

.exclusive-content h5 {
    color: #233049;
}

.exclusive-content i {
    color: #233049;
}

#exclusive .owl-dot {
    background: #233049;
}

.gallery-item figure:hover figcaption {
    background: #233049;
}

#blog-content .post-title a {
    color: #233049;
}

#blog-content ul.meta-info li {
    color: #233049;
}

#blog-content ul.meta-info li a {
    color: #233049;
}

.post-content .content {
    color: #233049;
}

#blog-content .post-content .continue-reading {
    color: #233049;
}

.single-blog-area .post-title {
    color: #233049;
}

.single-blog-area ul.share-icon li a {
    color: #233049;
}

.post-comment-area .comment-author a {
    color: #233049;
}

.office h4 {
    color: #233049;
}

.office ul li {
    color: #233049;
}

#wrapper-404 .inner-content h1 {
    color: #233049;
}

#wrapper-404 .inner-content p {
    color: #233049;
}

/*Widget CSS */

#footer-widgets,
.widget-search input[type=button]:hover {
    background: #233049;
}

.widget-search .search-form,
.search-form input[type="search"]::-webkit-input-placeholder,
#blog-content .widget-title,
.widget-categories ul li a,
.recent-post h6,
ul.recent-meta-info li,
ul.recent-meta-info li a,
ul.tags li a,
.widget-calender .widget-title .plus a,
.weekdays li,
.days li.disable,
.days li {
    color: #233049;

}

.get-in-touch input::-webkit-input-placeholder,
.get-in-touch textarea::-webkit-input-placeholder {
  color: #233049;    
}