.ajax-file-upload-statusbar {
    width: 134px !important;
    display: inline-block;

margin-top: 10px;
width: 420px;
margin-right: 10px;
margin: 5px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
padding: 5px 5px 5px 15px
}

.ajax-file-upload-filename {
    display: none;
width: 300px;
height: auto;
margin: 0 5px 5px 0px;

}

.ajax-file-upload-filesize {
width: 50px;
height: auto;
margin: 0 5px 5px 0px;
display: inline-block;
vertical-align:middle;
}
.ajax-file-upload-progress {
margin: 5px 10px 5px 0px;
position: relative;
width: 100px;
border: 1px solid #ddd;
padding: 1px;
border-radius: 3px;
display: inline-block;
color:#FFFFFF;

}
.ajax-file-upload-bar {
background-color: #364150;
width: 0;
height: 5px;
border-radius: 3px;
color:#FFFFFF;

}
.ajax-file-upload-percent {
position: absolute;
display: inline-block;
top: 3px;
left: 48%
}
.ajax-file-upload-red {
border-radius: 100%!important;
    background-color: #f3565d8f;
   
    display: inline-block;
    color: #fff;
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
    padding: 3px 11px;
    text-decoration: none;
    text-shadow: 0 1px 0 #b23e35;
    cursor: pointer;
    vertical-align: top;
    margin: -117px 10px -4px 66px;
}
.ajax-file-upload-green {
background-color: #77b55a;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
margin: 0;
padding: 0;
display: inline-block;
color: #fff;
font-family: arial;
font-size: 13px;
font-weight: normal;
padding: 4px 15px;
text-decoration: none;
cursor: pointer;
text-shadow: 0 1px 0 #5b8a3c;
vertical-align: top;
margin: 5px 10px 5px 0px;
}
.ajax-file-upload {
      color: #333333;
    background-color: #E5E5E5;
    cursor: pointer;
    line-height: 20px;
    height: 30px;
    margin:0 10px -10px 0;
    display: inline-block;
    border-width: 0;
    padding: 5px 29px;
    font-size: 14px;
    
  }

.ajax-file-upload:hover {
      background:lightgray;
     
}

.ajax-upload-dragdrop
{
margin-left: -9px;
  
  width:420px;
  color: #a3a3a3;
  text-align:left;
  vertical-align:middle;
  padding:10px 10px 0px 10px;
}
.fa-upload
{
       margin-left: -18px;
   
    padding-right: 9px;
}
#addmoreprice
{
       font-size: 18px;
    margin-top: 2px;
    border: none;
}

.state-hover
{
    border:2px solid #A5A5C7;
}
.ajax-file-upload-container
{
  margin:20px 0px 20px 0px;
}